body {
	margin-top: 20px;
	margin-left: 30px;
	color: #222222;
	font-size: 14px;
}

div.wrapper {
	width: 820px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
	margin-top: 0;
}

h3 {
	font-size: 16px;	
	margin-top: 0;
	margin-bottom: 5px;
}

/* if you are reading this, the below is the start of the css for the image and wrapper div for the panner - thats probably what you are interested in */

div#pan {
	border: #dddddd 1px solid;
	width: 400px;
	height: 310px;
	overflow: hidden;
}

/* and this is the end */

/* this is extra stuff for #pan to get the layout right for the eg - not necessary */
div#pan {
  float: right;
  margin-bottom: 20px;
}

div.me {
	font-size: 12px;
	width: 400px;
	background-color: #eeeeee;
	border: #dddddd 1px solid;
	margin-bottom: 20px;
}

div.me img {
	float: left;
	margin-right: 20px;
}

div#controls, div#output, div#images {
	width: 380px;
	border: #dddddd 1px solid;
	background-color: #eeeeee;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

div#controls {
	height: 290px;
}

div#controls a {
	display: inline-block;
	text-align: center;
	width: 90px;
	height: 40px;
	font-size: 12px;
	color: #0000CC;
	text-decoration: none;
}

div#controls a img {
	border: none;
	margin-bottom: 5px;
}

div#controls a:hover {
	text-decoration: underline;
}

div#output, div#images {
	height: 170px;
}

div#images {
	float: right;
  clear: right;
	margin-right: 0;
}

div#attribution {
	
}

div.clear {
	clear: both;
}
