body {
	margin-top: 20px;
	margin-left: 30px;
	width: 820px;
	color: #222222;
	font-size: 14px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
	margin-top: 0;
}

h3 {
	font-size: 16px;	
	margin-top: 0;
	margin-bottom: 5px;
}

/* if you are reading this, the below is the start of the css for the image and wrapper div for the panner - thats probably what you are interested in */
div.me img {
	float: left;
	margin-right: 20px;
}

div#pan {
	border: #dddddd 1px solid;
	width: 400px;
	height: 270px;
	overflow: hidden;
}

/* and this is the end */

div.me {
	font-size: 12px;
	width: 400px;
	background-color: #eeeeee;
	border: #dddddd 1px solid;
	margin-bottom: 20px;
}

div#controls, div#output {
	width: 380px;
	float: left;
	border: #dddddd 1px solid;
	background-color: #eeeeee;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

div#controls a {
	display: block;
	text-align: center;
	width: 95px;
	height: 40px;
	float: left;
	font-size: 12px;
	color: #0000CC;
	text-decoration: none;

}

div#controls a img {
	border: none;
	margin-bottom: 5px;
}

div#controls a:hover {
	text-decoration: underline;
}

div#attribution {
	
}

div.clear {
	clear: both;
}